.vscode/
*/bin
*/obj
*/*/bin
*/*/obj
*/config.json
*/manifest.json
ContentPacks/WAGFlours/assets/*.png
ContentPacks/ZH's\ DISCO/All_Assets
ContentPacks/ZH's\ DISCO/Assets
.editorconfig
ContentPacks/*/config.json
